<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{pageTitle}}</title>
<style>
     body { 
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}
</style>
    {{!-- newly added links --}}
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js" integrity="sha256-I5ZXO8KcMnqNkrXU7baGig70nATYjNDnxxA2d40PcR8=" crossorigin="anonymous"></script>
 <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script>
         <script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
        
         <script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/date-eu.js"></script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <link rel="stylesheet" type="text/css" href="css/bootstrapnew.min.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-toggle.min.css">
    
    <link rel="stylesheet" type="text/css" href="css/select2.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="css/metisMenu.min.css">
   
    <link rel="stylesheet" type="text/css" href="css/sb-admin-2.css" >
   
    <link rel="stylesheet" type="text/css" href="css/morris.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css" />
    {{#equal section 'page'}}
    <link rel="stylesheet" type="text/css" href='css/codemirror.css'>
    <link rel="stylesheet" type="text/css" href="css/style_html.css">
    {{/equal}}
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body id="{{splitTitle pageTitle}}">
    {{!-- #Wrapper --}}
    <div id="wrapper">
