<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add your HTML Code</title>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css'>
		<link rel="stylesheet" href="../public//css/style_html.css">
	</head>
	<body>
		<section>
			<div class="container">
				<h1>Add your HTML Code</h1>
				<div class="code-container">
					<textarea id="code">
						<!-- xml/html syntax -->
						<!DOCTYPE html>
						<html>
							<head>
								<body>
								<!-- ADD YOUR HTML CODE HERE -->
								</body>
							</head>
						</html>
					</textarea>
				</div>
			</div>
		</section>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js'></script>
		<script src="../public/js/html_layout.js"></script>
	</body>
</html>