{{> header}}
    <div class="alert alert-danger failedmessage" style="display:none;"></div>
    <div class="alert alert-success successmessage" style="display:none;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Forget Password</h3>
                    </div>
                    <div class="panel-body">
                        {{#if userid}}
                        <div class="step2">
                            <form method="POST" action="" id="forgetpassword_submit" class="login_form_submit">
                                <div id="form-group">
                                    <label>New Password</label>
                                    <input class="form-control userid" name="userid" type="hidden" value="{{userid}}"/>
                                    <input class="form-control forgetnewpassword" name="newpassword" type="password" autocomplete="off" required=""/>
                                    <span class="form_error">Please Enter Your New Password</span>
                                    <p class="form_error passlengtherror" style="display:none; color: #f90e0e;">New Password Should be Greater then 6 Character</p>
                                </div>
                                <br>
                                <input class="btn btn-primary newpasswordsubmit" type="button" value="Submit"/>
                            </form>    
                        </div>
                        {{else}}
                            <div class="step1">
                                <div id="form-group">
                                    <label>Email ID:</label>
                                    <input class="form-control emailaddress" name="useremail" type="email" value="" required=""/>
                                    <span class="form_error">Please Enter Your Email Address</span>
                                    <span class="form_error emailerror">Please enter Proper Email Adderss</span>
                                </div>
                                <br>
                                <input class="btn btn-primary forgetpasswordsubmit" type="button" value="Submit"/>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div>
{{> footer}}